* {
    padding: 0;
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}

.blue-section { 
    text-align: center;
    font-size: 18px;
}

.flex {
    display: flex;
    flex-direction: column;
}

/* ----- Blue Section ----- */
.blue-section {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 0 0 30px 30px;
    padding: 30px 0 40px 0;
}

.result {
    margin-bottom: 20px;
}

.blue-section:first-child {
    color: hsl(241, 100%, 89%);
}

.score-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 50%;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.num-lg {
    font-weight: 700;
    font-size: 42px;
    color: white;
}

.num-sm {
    color: hsla(221, 100%, 96%, 0.3);
    font-size: 14px;
}

.great-txt {
    margin: 10px 0;
    color: white;
    font-size: 700;
}

.score-msg {
    color: hsla(221, 100%, 96%, 0.5);
    font-size: 16px;
}

/* ----- White Section ----- */
.white-section {
    margin: 20px 30px;
}



.summary {
    margin: 20px 0;
    font-weight: 700;
}

.item {
    display: flex;
    padding: 14px;
    border-radius: 10px;
    margin-bottom: 10px;
}


.item-txt {
    margin-left: 10px;
    font-weight: 500;
}

.grade { 
    margin-left: auto;
    color: hsla(224, 30%, 27%, 0.5);
    font-weight: 700;
}

.grade span {
    color: hsl(224, 30%, 27%);
}

.reaction {
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.2);
}

.memory {
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.2);
}

.verbal {
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.2);
}

.visual {
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.2);
}

.continue-btn {
    cursor: pointer;
    border: none;
    width: 100%;
    background: hsl(224, 30%, 27%);
    color: white;
    padding: 20px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    transition: 0.5s;
    background: linear-gradient(90deg, var(--c1, hsl(224, 30%, 27%)), var(--c2, hsl(224, 30%, 27%)) 51%, var(--c1, hsl(224, 30%, 27%))) var(--x, 0)/ 200%;
}

/* .continue-btn:hover {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
} */
  
  .continue-btn:hover { --x: 100%; }
  
  .continue-btn {
    --c1: hsl(252, 100%, 67%);
    --c2: hsl(241, 81%, 54%);
  }
  


.attribution {
    margin: 20px 30px;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
}

a {
    text-decoration: none;
}